spring:
  application:
    name: boletim
  datasource:
    url: jdbc:h2:mem:testdb;MODE=Oracle
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
  sql:
    init:
      platform: h2
      schema-locations: classpath:db/schema/schema_t_bt_boletim.sql, 
                        classpath:db/schema/schema_t_projeto.sql,
                        classpath:db/schema/schema_t_tarefa.sql,
                        classpath:db/schema/schema_t_material.sql
      data-locations: classpath:db/data/data_t_bt_boletim.sql, 
                      classpath:db/data/data_t_projeto.sql, 
                      classpath:db/data/data_t_tarefa.sql,
                      classpath:db/data/data_t_material.sql
      mode: always